[submodule "Extensions/ILSpy.Decompiler/NRefactory"]
	path = Extensions/ILSpy.Decompiler/NRefactory
	url = https://github.com/r51k/nrefactory.git
[submodule "Extensions/ILSpy.Decompiler/ICSharpCode.Decompiler"]
	path = Extensions/ILSpy.Decompiler/ICSharpCode.Decompiler
	url = https://github.com/r51k/ILSpy.git
[submodule "Extensions/dnSpy.Debugger/netcorefiles"]
	path = Extensions/dnSpy.Debugger/netcorefiles
	url = https://github.com/r51k/netcorefiles.git
[submodule "Extensions/dnSpy.Debugger/Mono.Debugger.Soft"]
	path = Extensions/dnSpy.Debugger/Mono.Debugger.Soft
	url = https://github.com/r51k/Mono.Debugger.Soft.git
[submodule "dnSpy/Roslyn/Roslyn.ExpressionCompiler"]
	path = dnSpy/Roslyn/Roslyn.ExpressionCompiler
	url = https://github.com/r51k/Roslyn.ExpressionCompiler.git
[submodule "Libraries/ICSharpCode.TreeView"]
	path = Libraries/ICSharpCode.TreeView
	url = https://github.com/r51k/ICSharpCode.TreeView.git